%body
  .side-bar
    .side-bar-header
      .side-header-box
        .side-header-box__user-name
          mika
        .icon-box
          %ul.icon-box__icon
            %li.icon-box__icon--icons
              = link_to "#" do
                = icon('fas', 'edit')
            %li.icon-box__icon--icons
              = link_to "#" do
                = icon('fas', 'cog')
    .side-bar-group-lists
      %p.groupname techcamp
      %p.status まだメッセージがありません
      %p.groupname techcamp
      %p.status まだメッセージがありません
      %p.groupname techcamp
      %p.status まだメッセージがありません