* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;

  @mixin justify {
    display: flex;
    justify-content: space-between;
  }

  @mixin height_width($height,$width) {
    height: $height;
    width: $width;
  }

  .side-bar {
    @include height_width(100vh,300px);
    background-color: #253141;

    .side-bar-header{
      display: flex;
      align-items: center;
      height: 100px;
      
      .side-header-box {
        @include justify;
        @include height_width(20px,260px);
        margin: 0 20px;
        color: white;
        font-weight: bold;
        background-color: #253141;

        .icon-box {
          width: 40px;
          justify-content: end;
          &__icon {
            display: flex;
            list-style: none;
            
            &--icons {
              text-decoration: none;
              margin-left: 5px;
              color: #ffffff;
            }
          }
        }
      }
    }
    .side-bar-group-lists {
      height: calc(100vh - 100px);
      padding: 20px;
      background-color: #2f3e51;
      
      .group {
        text-decoration: none;

        .groupname {
          margin-bottom: 5px;
          color: white;
          font-weight: bold;
          font-size: 15px;
        }

        .status {
          margin-bottom: 40px;
          color: white;
          font-weight: bold;
          font-size: 11px; 
        }
      }
    }
}

  .main-messages {
    @include height_width(100vh,calc(100vw - 300px));
    background-color: #ffffff;

    .main-messages-header {
      @include justify;
      height: 100px;
      border-bottom: 1px solid #eeeeee;
      
      .main-leftbox {

        .group-name-chat {
          margin: 35px 0 15px 40px;
          color: #333333;
          font-size: 20px;
        }
        .member-name {
          margin-left: 40px;
          color: #999999;
          font-size: 12px;
          }
        }

      .edit-btn {
        display: block;
        @include height_width(40px,72px);
        margin: 28px 40px 0 0;
        padding: 0 20px;
        text-decoration: none;
        line-height: 40px;
        border: 1px solid #38aef0;
        color: #38aef0;
        font-size: 16px;
        background-color: #fff;
      }
    }

    .main-messages-body {
      height: calc(100vh - 190px);
      background-color: #fafafa;

        .name-date {
          display: flex;
          margin: 0px 0 12px 40px;
          padding-top: 35px;

          .main-username {
            margin-right: 5px;
            color: #333333;
            font-size: 16px;
            font-weight: bold;
          }
          .main-date {
            color: #999999;
            font-size: 12px;
          }
        }

        .main-message {
          margin:0 11px 0 40px;
          color: #434A54;
          font-size: 14px;
        }
    }

    .main-messages-footer {
      height: 90px;
      padding: 20px 50px 20px 40px;
      background-color: #d2d2d2;

      .Form-message {
        @include justify;

        .Form {
          width: 100%;
          position: relative;

          .Form-textbox {
            @include height_width(50px,100%);
            padding: 0 45px 0 10px;
            border-style: none;
          }

          .Form-pict {
            position: absolute;
            height: 50px;
            right: 10px;

            &__pic {
              line-height: 50px;
              font-size: 25px;
            }

            &__Hidden {
              display: none;
            }
          }
        }

        .Form-btn {
          margin-left: 15px;
          padding: 0 30px;
          background-color: #38aef0;
          border: solid #38aef0;
          color: #fff;
          font-size: 16px;
        }
      }
    }
  }
}

a {
  color: white;
}


